
.location-container{
    margin-bottom: 20px;
    .mat-select{
        margin-top: 6px;
    }
}
.mat-icon{
    color: #c1c1c1;
}

.mat-divider{
    margin: 15px 0 30px;
}

h4 {
    a{
        color: #000;
        text-decoration: none;
    }
}