<div class="row">
    <div class="col-md-9" style="background: #0a68b4; padding-bottom: 20px">
        <h2>Parent</h2>
        <div><strong>{{messageFormChild}}</strong></div>
        <div><strong>{{viewMessage}}</strong></div>

        <!--Child Area-->
        <div class="row" style="margin-top: 50px">
            <div class="col-md-2"></div>
            <div class="col-md-6" style="background: #CCCCCC;padding-bottom: 20px;">
                <h3>Child</h3>
                <app-child (messageEvent)="receiveMessage($event)" [messageFromParent]="messageToChild"></app-child>
            </div>
        </div>
    </div>

    <!--Sibling-->
    <div class="col-md-3" style="background: #dd9d12">
        Sibling
    </div>
</div>