<div class="boxed-content" fxFlex="725px" fxFlex.sm="540px" fxFlex.xs="100%">
  <button md-button class="delete-item"><md-icon (click)="onClickDeleteButton()">cancel</md-icon></button>
  <header fxLayout fxLayoutAlign="space-between center">
    <h2>Billing Address</h2>
    <div class="button-group">
      <div fxLayout fxLayoutGap="12px" fxLayoutGap.xs="0">
        <button (click)="onClickSaveButton()" md-button class="btn-edit">Edit</button>
      </div>
    </div>
  </header>
  <div class="inner-content">
    <md-list class="list-views">
      <md-list-item>
        <md-icon md-list-icon>location_on</md-icon>
        <h4 md-line>{{model.displayAddress}}</h4>
        <a md-line class="map-view" target="_blank" [routerLink]="[mapRouterLink]">
          <md-icon>map</md-icon> View on Map
        </a>
      </md-list-item>
    </md-list>
  </div>
</div>
