<div class="container">
  <h2>Reactive Forms</h2>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="name">
      <div *ngIf="!userForm.find(name).valid" class="alert alert-danger">
        Please enter name
      </div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" formControlName="email">
    </div>

    <div formGroupName="address">
      <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" formControlName="city">
      </div>
      <div class="form-group">
        <label>Street</label>
        <input type="text" class="form-control" formControlName="street">
      </div>
      <div class="form-group">
        <label>PostalCode</label>
        <input type="text" class="form-control" formControlName="postalCode">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>