<h2 md-dialog-title>Update My Parcel</h2>
<span class="success-msg" *ngIf="successMessage">{{successMessage}}</span>
<form [formGroup]="form">
    <md-list>
        <md-list-item *ngIf="model.reliveriTrackingNumber">
            <label for="">Relivery Tracking Number</label>
            <div>{{model.reliveriTrackingNumber}}</div>
        </md-list-item>
        <md-list-item>
            <label for="">Tracking Number</label>
            <md-input-container>
                <input [(ngModel)]="model.trackingNumber" mdInput formControlName="trackingnumber">
                <md-error *ngIf="form.controls.trackingnumber.invalid">
                    {{form.controls.trackingnumber.errors.message}}
                </md-error>
            </md-input-container>
        </md-list-item>
        <md-list-item>
            <label for="">Sender</label>
            <md-input-container>
                <input [(ngModel)]="model.sender" mdInput type="text" formControlName="sender">
                <md-error *ngIf="form.controls.sender.invalid">
                    {{form.controls.sender.errors.message}}
                </md-error>
            </md-input-container>
        </md-list-item>
        <md-list-item>
            <label for="">Description</label>
            <md-input-container>
                <input [(ngModel)]="model.description" mdInput type="text" formControlName="description">
                <md-error *ngIf="form.controls.description.invalid">
                    {{form.controls.description.errors.message}}
                </md-error>
         </md-input-container>
        </md-list-item>
    </md-list>
    <md-dialog-actions fxLayout fxLayoutAlign="space-between center">
        <button class="btn-save" md-button (click)="onClickSaveButton()">Save</button>
        <button id="btn-close" class="btn-cancel" md-button md-dialog-close>Cancel</button>
    </md-dialog-actions>
</form>